
/* 
    Created on : 11/03/2019, 10:48:56
    Author     : kyomei
*/
.text-xs {font-size: .7rem;}
.cursor-pointer {cursor:pointer;}
.border-left-primary {
    border-left: .25rem solid #4e73df!important;
}
.card-box {
    padding: 20px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.06), 0 2px 0 0 rgba(0, 0, 0, 0.02);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}